@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
img {
    max-width: 100%;
    background-size: cover;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Popins', sans-serif;
    color: #222;
}

.carousel-caption h5,
.carousel-caption p {
    text-shadow: 1px 1px 10px black;
}

.btn-primary {
    background-color: #6648b1;
    border: 0px;
}

.btn-primary:hover {
    background-color: #563d7c;
    border: 0px;
}

hr {
    border-top: 1px solid #b4b4b4;
}

.fa-html5 {
    color: #e54d26;
}

.fa-bootstrap {
    color: #563d7c;
}

.fa-css3-alt {
    color: #2163af;
}

.fa-html5,
.fa-css3-alt,
.fa-bootstrap {
    font-size: 4em;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-twitter-square {
    color: #00aced;
}

.fa-github-square {
    color: black;
}

.fa-instagram-square {
    color: #517fa8;
}

.fa-youtube-square {
    color: #d00;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-github-square:hover,
.fa-instagram-square:hover,
.fa-youtube-square:hover {
    color: #d5d5d5;
}

.social i {
    font-size: 4em;
}


/*---Media Queries --*/

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}


/*---Firefox Bug Fix --*/

.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}


/*--- Fixed Background Image --*/

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed {
    background-image: url('img/mac.png');
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}


/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
    padding: 1rem;
}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/